<div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Search User</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="searchtext">
</div>

<button class="btn btn-danger" (click)="Onlogout()" >Logout</button>


<h2>{{showerror}}</h2>

<table class="table table-dark">
    <tr>
        <th>Id</th>
        <th> </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Total</th>
    </tr>

    <tr *ngFor="let user of _users | search:searchtext; let i=index" (click)="getrow(user)">
        <th>{{user.id}}</th>
        <th> <img src='{{user.profile_img}}' width="50" /> </th>
        <th>{{user.first_name}}</th>
        <th>{{user.last_name}}</th>
        <th>{{user.address | address:20}} </th>
        <th>{{user.total | amount}}</th>
    </tr>

</table>

