<h1>{{singleuser.first_name}} {{singleuser.last_name}}</h1>

<form [formGroup]="frmRecUser" (ngSubmit)="onSubmit(frmRecUser.value)">
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label>User ID</label>
                <input type="text" class="form-control" formControlName="id">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="first_name">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>User Last Name</label>
                <input type="text" class="form-control" formControlName="last_name">
            </div>
        </div>
    </div>

        <legend>User address</legend>
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group" formGroupName="address">
                    <label>State Address</label>
                    <input type="text" class="form-control" formControlName="state_address">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" formGroupName="address">
                    <label>Apartment Number</label>
                    <input type="text" class="form-control" formControlName="apart_number">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group"  formGroupName="address">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="city">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group"  formGroupName="address">
                    <label>State</label>
                    <input type="text" class="form-control" formControlName="state">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group"  formGroupName="address">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="zip">
                </div>
            </div> 
            
            <div class="col-sm-4">
                <div class="form-group" formGroupName="total">
                    <label>Amount</label>
                    <input type="text" class="form-control" formControlName="amount">
                </div>
            </div>

            

        </div>


    <div class="row">        

        <div class="col-sm-12">
            <input type="submit" value="Save" class="btn btn-info sub_btn mr-2" />
            <input type="button" value="Cancel" class="btn btn-dark sub_btn mr-2" (click)="cancel()" />
            <input type="button" value="Delete" class="btn btn-danger sub_btn" (click)="openDialog()" />
        </div>
    </div>

    <div class="row">        

        <div class="col-sm-12" *ngIf="save">
            <p class="pra"><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon> Your changes has been uploaded</p>
        </div>
    </div>

</form>