.ng-invalid{
    border-color: red;
}

.sub_btn{
    margin-top: 10px;
    width: 150px;
}
.pra{
    font-size: 20px;
    color: #17a2b8;
    padding-top: 20px;
    .mat-icon{
        font-size: 30px;
        vertical-align: top;
        margin-right: 7px;
    }
}
